<div class="profile-available-resources-item-wrapper">
    
    <div class="list-group-item d-flex align-items-start">
        <div class="left flex-grow-1">
            <div class="d-flex align-items-center">
                <p class="text-secondary-800 fw-medium">{{ job.candidateName }}</p>
                <p class="text-dark-600 ms-2">{{ job.title }}</p>
            </div>
            <div class="d-flex additional mt-1">
              <div class="item d-flex align-items-center">
                <span
                  class="material-symbols-outlined text-base text-dark-500 me-2"
                  >trip</span
                >
                <p class="text-sm fw-medium">{{ job.totalExp }} years</p>
              </div>
              <div class="item d-flex align-items-center">
                <span
                  class="material-symbols-outlined text-base text-dark-500 me-2"
                  >airplane_ticket</span
                >
                <p class="text-sm fw-medium">
                  {{ getVisa(job.visaId) }}
                </p>
              </div>
              <div class="item d-flex align-items-center">
                <span
                  class="material-symbols-outlined text-base text-dark-500 me-1"
                  >location_on</span
                >
                <p class="text-sm fw-medium">
                  {{ job.city?.city1 }}, {{ job.city?.stateCode }}
                </p>
              </div>
              <div class="item d-flex align-items-center" *ngIf=" job.fromAmt != 0 && job.toAmt != 0 ">
                <span
                  class="material-symbols-outlined text-base text-dark-500 me-1"
                  >attach_money</span
                >
                <p class="text-sm fw-medium">
                  {{ job.fromAmt }}-{{ job.toAmt }}
                </p>
              </div>
           </div>
           <div class="d-flex mt-3">
            <p class="me-3 text-sm text-dark-400 left">Relocation</p>
            <p class="text-sm">
              {{ getRelocation(job) }}
            </p>
          </div>
        </div>
        
    </div>
</div>