<div class="profile-pic-box">
  <div class="pic-area">
    <img src="{{ profilePicUrl }}" />
  </div>
  <div class="edit-area">
    <form enctype="multipart/form-data">
      <div *ngIf="!isPublic" class="icon-box">
        <span class="material-symbols-outlined icon">edit</span>
        <input type="file" (change)="uploadFile($event)" />
      </div>
    </form>
  </div>
  <div class="spinner-box" *ngIf="isLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
