<div class="recruiter-box">
  <div class="job-type-badge" *ngIf="item.jobTypeName">
    {{ item.jobTypeName }}
  </div>
  <div class="d-flex align-items-center gap-3">
    <div class="avatar-wrap flex-shrink-0">
      <img [src]="getProfilePic(item.profilePic)" class="avatar-img" alt="Recruiter Avatar" />
      <span class="status-indicator" [ngClass]="isUserOnline ? 'active' : ''" [title]="isUserOnline ? 'Online' : 'Offline'"></span>
    </div>
    <div class="recruiter-details flex-grow-1 min-w-0">
      <h6 class="recruiter-name mb-0 text-truncate">
        {{ item.consultancyUserFName }} {{ item.consultancyUserLName }}
      </h6>
      <p class="recruiter-company mb-2 text-truncate">
        {{ item.consultancyName }}
      </p>
      <button
        type="button"
        class="btn chat-btn"
        [ngClass]="isChatDisabled() ? 'disabled' : ''"
        [chatUser]="chatUser"
      >
        <span class="material-symbols-outlined chat-icon">chat</span>
        <span>Message Me</span>
      </button>
    </div>
  </div>
</div>
