################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatHireAPI/CopilotIndices/17.14.786.1071
/.vs/ChatHireAPI/FileContentIndex
/.vs/ChatHireAPI/v17
/.vs/MiddleWare/DesignTimeBuild
/.vs/MiddleWare/FileContentIndex
/.vs/MiddleWare_2.0/copilot-chat/2a2ed1f9/sessions
/.vs/MiddleWare_2.0/CopilotIndices/17.14.786.1071
/.vs/MiddleWare_2.0/DesignTimeBuild
/.vs/MiddleWare_2.0/FileContentIndex
/.vs/MiddleWare_2.0/v17
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/MiddleWare_2.0/config
/BusinessEntityAndDTO/bin
/BusinessEntityAndDTO/obj
/BusinessLayer/bin
/BusinessLayer/obj
/DataAccessLayer/obj
/MiddleWare/.config
/MiddleWare/bin
/MiddleWare/obj
/MiddleWare/Properties
/obj
/Utility/bin
/Utility/obj
/DataAccessLayer/bin
