<div class="profile-available-resources-wrapper">

    <loader *ngIf="!isJobLoaded"></loader>

    <ng-container *ngIf="isJobLoaded && isJobAvailable">

          <div class="title-box">
            <div class="d-flex">
                <fancy-page-search (outputData)="handleSearch($event)" placeholder="Search by name, skills, job title" ></fancy-page-search>
                <div class="d-none d-lg-block ms-3">
                  <div class="btn view-btn d-inline-flex align-items-center me-3" [ngClass]=" !isListView ? 'btn-secondary no-pointer' : 'btn-outline-secondary text-secondary-500'" (click)="isListView = !isListView">
                    <span class="material-symbols-outlined me-2">table_chart</span>View table
                  </div>
                  <div class="btn view-btn d-inline-flex align-items-center" [ngClass]=" isListView ? 'btn-secondary no-pointer' : 'btn-outline-secondary text-secondary-500'" (click)="isListView = !isListView">
                    <span class="material-symbols-outlined me-2">data_table</span>Detailed List
                  </div>
                </div>
            </div>
          </div>

        <ng-container *ngIf="isListView">
          <profile-available-resources-item *ngFor="let job of filteredDataList" [job]="job" [visaList]="visaList" [availabilityList]="selectAvailabilityList" ></profile-available-resources-item>
        </ng-container>

        <ng-container *ngIf="!isListView">
          <profile-available-resources-table 
          [list]="filteredDataList"
          [visaList]="visaList"
          [availabilityList]="selectAvailabilityList"
          >
        </profile-available-resources-table>
        </ng-container>

    </ng-container>
  
</div>