<div class="profile-available-resources-wrapper">

    <loader *ngIf="!isJobLoaded"></loader>

    <ng-container *ngIf="isJobLoaded && isJobAvailable">

          <div class="title-box mb-3">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <div class="search-box-wrap">
                  <page-search (outputData)="handleSearch($event)" placeholder="Search by name, skills" [maxlength]="20"></page-search>
                </div>
                
                <!-- Modern Segmented Control Switcher -->
                <div class="view-segmented-control d-none d-lg-inline-flex">
                  <button
                    type="button"
                    class="segmented-btn"
                    [class.active]="!isListView"
                    (click)="isListView = false"
                  >
                    <span class="material-symbols-outlined icon">table_chart</span>
                    <span>View table</span>
                  </button>
                  <button
                    type="button"
                    class="segmented-btn"
                    [class.active]="isListView"
                    (click)="isListView = true"
                  >
                    <span class="material-symbols-outlined icon">data_table</span>
                    <span>Detailed List</span>
                  </button>
                </div>
            </div>
          </div>

        <ng-container *ngIf="isListView">
          <div class="profile-list-container d-flex flex-column gap-3">
            <profile-available-resources-item *ngFor="let job of filteredDataList" [job]="job" [visaList]="visaList" [availabilityList]="selectAvailabilityList" ></profile-available-resources-item>
          </div>
        </ng-container>

        <ng-container *ngIf="!isListView">
          <profile-available-resources-table 
            [list]="filteredDataList"
            [visaList]="visaList"
            [availabilityList]="selectAvailabilityList"
          >
          </profile-available-resources-table>
        </ng-container>

    </ng-container>
  
</div>