<div class="hotlist-box table-box">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Technology</th>
        <th>Years</th>
        <th>Visa</th>
        <th>Location</th>
        <th>Preference</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td class="fw-semibold">{{ item.candidateName }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.totalExp }} years</td>
        <td>{{ getVisa(item.visaId) }}</td>
        <td>{{ item.city?.stateCode }}</td>
        <td>
          <span class="overflow"> {{ getRelocation(item) }}</span>
        </td>
        <td class="text-center">
          <div class="d-inline-block">
            <div
              class="pointer mt-2 me-2 d-inline-flex text-primary-500"
              (click)="editCandidate(item.id)"
            >
              <span class="material-symbols-outlined text-base">edit</span>
            </div>

            <div
              class="pointer mt-2 d-inline-flex text-danger-500"
              (click)="deleteCandidate(item)"
            >
              <span class="material-symbols-outlined text-base">delete</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
