<div class="modal-wrapper p-5">
  <div class="content text-center">
    <h6 class="ft-head">Do you want to delete the candidate? Please confirm</h6>
    <div class="mt-4">
      <div
        class="btn btn-primary btn-sm text-normal me-4"
        mat-button
        [mat-dialog-close]="true"
      >
        Yes
      </div>
      <div
        class="btn btn-secondary btn-sm text-normal"
        mat-button
        [mat-dialog-close]="false"
      >
        No
      </div>
    </div>
  </div>
</div>
