@import "src/@hires/scss/utilities/all";
@import "src/@hires/scss/helpers/typography";

.personal-details-wrapper {
    .role-box {
        .list {
            .item {
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }
            @include hires-breakpoint("lt-lg") {
                margin: 14px 0 0 0;
                .item {
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    .submit-btn {
        margin: 0 14px 0 0;
    }
}