
<div class="messages-wrapper">
    <div class="container-fluid px-md-4 px-xl-5">
        <div class="row g-4">
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="messages-box" id="inboxContainer" [user]="user" [chatUser]="chatUser" #inboxContainer>
                    <h6 class="title mb-3">You have {{uneadCount}} unread conversations </h6>
                    <div class="message-area">
                        <loader></loader>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3">
                <div class="sticky-top" style="top: 85px; z-index: 2;">
                    <app-referral-banner [layout]="'sidebar'"></app-referral-banner>
                </div>
            </div>
        </div>
    </div>
</div>

