<div class="postjobs-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="card p-3 p-md-4 border-0">
          
          <div class="card-body">
            
            <ng-container *ngIf="!isJobPosted">
              <h5 class="title mb-4">Enter your job details and post</h5>
              <div class="row">
                <div class="col-sm-12">
                  <post-job-details [isJobPosted]="isJobPosted" (postparams)="handleJobPost($event)"></post-job-details>
                </div>
              </div>
            </ng-container>
            
            <div class="success-message text-center py-4" *ngIf="isJobPosted">
              <div class="tick d-inline-flex align-items-center justify-content-center mx-auto mb-3">
                <span class="material-symbols-outlined text-h3 text-white">done</span>
              </div>
              <h4 class="title mb-4" style="border: none !important;">Your job has been posted successfully!</h4>
              <div class="actions d-flex flex-wrap align-items-center justify-content-center gap-3 mt-4">
                <a href="javascript:void(0)" class="btn btn-outline-primary px-4 py-2 text-decoration-none" (click)="isJobPosted=!isJobPosted">Post another job</a>
                <a routerLink="/search-hotlist" class="btn btn-primary px-4 py-2 text-white text-decoration-none">Search Candidates</a>
                <a routerLink="/posting-history" class="btn btn-outline-secondary px-4 py-2 text-decoration-none">View posted jobs</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
